:root {
    --green1: #639c41;
    --green2: #90bb38;
    --green3: #c7d544;
    --white: #d9d9d9;
}

* {
    padding: 0;
    margin: 0;
}

.font-montserrat {
    font-family: "Montserrat", sans-serif;
}

.font-montez {
    font-family: "Montez", sans-serif;
}

.font-caps {
    text-transform: uppercase;
}

.head1 {
    font-family: "Montez", sans-serif;
    font-size: 3rem;
    color: var(--green1);
}

.head2 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
}
header {
    display: flex;
    flex-direction: column;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    min-height: 2rem;
}

.headerLinks {
    display: flex;
    margin: 0;
}

.linkList {
    display: flex;
}

header nav li {
    list-style: none;
    text-decoration: none;
    padding-right: 1rem;
    color: white;
}

header nav li a {
    text-decoration: none;
    padding-right: 1rem;
    color: white;
}

.login i {
    padding-right: 0.5rem;
}

.login a {
    text-decoration: none;
    padding-right: 1rem;
    color: white;
}

.login {
    padding-right: 2rem
}

header a:hover {
    color: var(--green2);
}

.searchSection {
    display: flex;
    min-height: 5rem;
    justify-content: center;
    margin-top: 0rem;
    background-color: var(--white);
    padding: 1rem;
}

.searchSection img {
    max-height: 5rem;
}

.searchSection a {
    padding-left: 5rem;
    margin-right: auto;
}

.searchBar {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.input-group {
    color: black;
    max-width: 30rem;
    padding-right: 5rem;
    padding-left: 5rem;
}

.stageSection {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(90deg, rgba(99,156,64,0.403788515406162) 0%, rgba(199,213,68,0.26934523809523814) 57%, rgba(217,217,217,0.10968137254901966) 87%), url(https://cdn.pixabay.com/photo/2017/12/10/14/47/pizza-3010062_960_720.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--green3);
    height: 30rem;
    padding-top: 5rem;
    background-position: center;
}

.stageText {
    padding-left: 5rem;
    padding-top: 3rem;
    color: white;
    text-align: center;
}

.socialColumn {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin:0;
}

.socialColumn a {
    margin: 0;
    padding: 0;
}

.socialColumn img {
    width: 4rem;
    transition: 0.2s;
}

.socialColumn img:hover {
    opacity: 0.8;
}

.stageText button {
    /* padding: 2rem; */
    width: 15rem;
    height: 4rem;
    background-color: transparent;
    border-color: var(--green3);
    border-style: solid;
    color: white;
    font-size: 2rem;
    transition: 0.2s;
}

.stageText button:hover {
    background-color: rgba(199,213,68,0.26934523809523814);
    font-size: 2.5rem;
}
/* gallery start */

/* NAV - home explore help  profile */
a {
    text-decoration: none;
}


.headsgallery {
    color: #639c41;
    padding: 5px;
    margin-left: 20px;

}
.galleryNav ul li{
    font-size: 2em;
    list-style: none;
    text-decoration: none;
}

.galleryNav a{
    color: #639c41;
}

.linksLeft ul {
    text-decoration: none;
    list-style: none;
    padding: 35px;
}

.linksLeft nav a{
    font-size: 1.5em;
    color: black;
}

.filterNAV{
    display: flex;
    padding: 4px;
}

.galleryNav ul{
    display: flex;
    margin-left: 300px;
}

.galleryNav ul li{
    padding: 50px;
}

.galleryNav ul {
    text-decoration: none;
}

.cusine{
    margin-left: 40px;
}

/* img grid und hover und shadow */
.imgkrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.imgkrid img {
    object-fit: cover;
    width: 600px;
    height: 600px;
    padding: 1px;
    
    width: 100%;
    height: 100%;
}

  .hoverimg img{
    transition: transform 0.3s;
  }  
  
.hoverimg img:hover {
    transform: scale(0.9);
  } 
  
.hoverimg {
    filter: drop-shadow(10px 3px 4px rgba(0, 0, 0, 0.47));
  } 
  

.gallerywrapper{
    display: flex;
}

/* gallery ends ------------------------------------------*/

/*recipe page start*/

.recipeHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    flex-basis: 30rem;
    /* max-width: 50vw; */
    flex-grow: 1;
}

.recipeWrapper {
    max-width: 60vw;
    min-width: 30rem;
}

.recipeHeaderTxt {
    background-image: linear-gradient(90deg, rgba(0,0,0,0.3519782913165266) 0%, rgba(141,141,141,0.16150210084033612) 38%, rgba(252,252,252,0) 100%), url(image/pancakes.jpg);
    object-fit: cover;
    padding-bottom: 10vh;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0rem;
    transition: 0.5s;
}

hr {
    border-top: 5px dotted var(--green2);
  }

.recipeHeaderTxt p {
    transition: 0.5s;
}

/* .recipeHeaderTxt:hover {
    background-image: linear-gradient(90deg, rgba(0,0,0,0.0) 0%, rgba(141,141,141,0.0) 38%, rgba(252,252,252,0) 100%), url(image/pancakes.jpg);
} */

.recipeHeaderTxt:hover p {
    opacity: 0;
}

.recipeImgFont {
    font-family: "Montserrat", sans-serif;
    color: white;
}

.recipeHeadContent img {
    /* width: 60vw;
    height: 30vw; */
    object-fit: cover;
    max-width: 90%;
    height: auto;
    /* vertical-align: middle; */
}

.recipeCat {
    padding-bottom: 10vh;
    padding-left: 0;
}

.recipeName {
    padding-bottom: 0;
    margin:0;
}

.recipeSub {
    margin:0;
}

.recipeHeadContent {
    padding-left: 0rem;
    padding-top: 0rem;
}

.recipeIngredients {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipeDesc {
    max-width: 55vw;

}

/*Zutaten Tabelle*/

.recipeIngredients th {
    font-family: "Montserrat", sans-serif;
    column-gap: 2rem;
}

.tableLeft {
    text-align: right;
    padding-right: 1rem;
}

.tableRight {
    text-align: left;
}

.recipeIngredients input {
    max-width: 2rem;
    text-align: center;
}

.recipeIngredients {
    align-items: flex-start;
}

.recipeContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    column-gap: 5rem;
    row-gap: 2rem;
    font-family: "Montserrat", sans-serif;
}

.recipeSteps {
    max-width: 20vh;
    gap: 20rem;
}

.recipeSteps li {
    font-family: "Montez", sans-serif;
    font-size: 2rem;
    color: var(--green2)
}

.recipeSteps p, .recipeSteps b {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: black;
}

/*recipe page end*/

/*footer*/

footer{
    /* margin-top: 500px; */
    background-color: black;
    display: flex;    
}

 footer {
    /* ....... */
    
    display: flex;
    /* align-items: center; */
    justify-content: center;
    column-gap: 1rem;
}
 .media h1{
    font-size: 2rem;
    
    
}
.media{
 padding-left: 1rem;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.letter{
 display: flex;
 flex-wrap: nowrap;
}

footer h2{
    font-size: 1rem;
    color: white;

    
}
footer
input{
    background-color: transparent;
}

footer button{
    min-width: 2rem;
    max-width: 4rem;
    background-color: transparent;
    color: white;


}
footer{
    padding-top: 1rem;
    
}


footer a{
    font-size: 12px;
    margin-bottom: 12px;
    text-decoration: none;
    color: white;
   
  }

  footer img {
    max-height: 5rem;
   
  }
  footer a:hover{
    
    color: var(--green2);
  }
  
  .icons :hover{
    transform: scale(1.0s);
  }     
  .icons{
    transition: transform 0.3s;
    
  }



