:root {
    --green1: #639c41;
    --green2: #90bb38;
    --green3: #c7d544;
    --white: #d9d9d9;
}

* {
    padding: 0;
    margin: 0;
}

.font-montserrat {
    font-family: "Montserrat", sans-serif;
}

.font-montez {
    font-family: "Montez", sans-serif;
}

.font-caps {
    text-transform: uppercase;
}

.head1 {
    font-family: "Montez", sans-serif;
    font-size: 3rem;
    color: var(--green1);
}

.head2 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
}
header {
    display: flex;
    flex-direction: column;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    min-height: 2rem;
}

.headerLinks {
    display: flex;
    margin: 0;
}

.linkList {
    display: flex;
}

header nav li {
    list-style: none;
    text-decoration: none;
    padding-right: 1rem;
    color: white;
}

header nav li a {
    text-decoration: none;
    padding-right: 1rem;
    color: white;
}

.login i {
    padding-right: 0.5rem;
}

.login a {
    text-decoration: none;
    padding-right: 1rem;
    color: white;
}

.login {
    padding-right: 2rem
}

header a:hover {
    color: var(--green2);
}

.searchSection {
    display: flex;
    min-height: 5rem;
    justify-content: center;
    margin-top: 0rem;
    background-color: var(--white);
    padding: 1rem;
}

.searchSection img {
    max-height: 5rem;
}

.searchSection a {
    padding-left: 5rem;
    margin-right: auto;
}

.searchBar {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.input-group {
    color: black;
    max-width: 30rem;
    padding-right: 5rem;
    padding-left: 5rem;
}

.stageSection {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(90deg, rgba(99,156,64,0.403788515406162) 0%, rgba(199,213,68,0.26934523809523814) 57%, rgba(217,217,217,0.10968137254901966) 87%), url(https://cdn.pixabay.com/photo/2017/12/10/14/47/pizza-3010062_960_720.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--green3);
    height: 30rem;
    padding-top: 5rem;
    background-position: center;
}

.stageText {
    padding-left: 5rem;
    padding-top: 3rem;
    color: white;
    text-align: center;
}

.socialColumn {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin:0;
}

.socialColumn a {
    margin: 0;
    padding: 0;
}

.socialColumn img {
    width: 4rem;
    transition: 0.2s;
}

.socialColumn img:hover {
    opacity: 0.8;
}

.stageText button {
    /* padding: 2rem; */
    width: 15rem;
    height: 4rem;
    background-color: transparent;
    border-color: var(--green3);
    border-style: solid;
    color: white;
    font-size: 2rem;
    transition: 0.2s;
}

.stageText button:hover {
    background-color: rgba(199,213,68,0.26934523809523814);
    font-size: 2.5rem;
}
/* gallery start */

/* home explore help  profile nav */

a{
    text-decoration: none;
}

 ul li{
    
    list-style: none;
}

.filterNAV{
    display: flex;
    padding: 4px;
}

.galleryNav ul{
    display: flex;
    margin-left: 300px;



}

.galleryNav ul li{
    padding: 50px;
}

.galleryNav ul {
    text-decoration: none;
}

.leftlinks{
    /* position: absolute; */
}

.imgkrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin-left: 30%;
}

/* frames bilder in cover!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.gallerywrapper{
    display: flex;
}

/* gallery ends */

/*footer*/

footer{
    /* margin-top: 500px; */
    background-color: black;
    display: flex;    
}

 footer {
    /* ....... */
    
    display: flex;
    /* align-items: center; */
    justify-content: center;
    column-gap: 1rem;
}
footer h1{
    font-size: 14px;
}
footer h2{
    font-size: 16px;
    color: white;
}
input{
    background-color: transparent;
}

footer button{
    min-width: 2rem;
    max-width: 4rem;
    background-color: transparent;
    color: white;

}

 
footer a{
    font-size: 12px;
    margin-bottom: 12px;
    text-decoration: none;
  
  }

  footer img {
    max-height: 5rem;
    display: absolute;
    justify-content: center;
    margin-top: 5%;
  }
  footer a:hover{
    text-decoration: underline;
  }



